<!DOCTYPE html>
<html>
<head>
    <title>Here we are!</title>
    <link rel="stylesheet" type="text/css" href="<?php echo URL; ?>/public/css/style.css"/>
    <script type="text/javascript" src="<?php echo URL; ?>/public/js/jquery.js"></script>
    <script type="text/javascript" src="<?php echo URL; ?>/public/js/custom.js"></script>
</head>
<body>

<div id="header">
    header
</div>

<div id="content">