body {
    background-color: silver;
}

#header {
    background-color: yellow;
    padding: 20px;
}

#content {
    background-color: #fff;
    padding: 20px;
}

#footer {
    background-color: green;
    padding: 20px;
}